API_HASH=your_api_hash_here
BOT_TOKEN=your_bot_token_here
TELEGRAM_API=your_api_id_here
OWNER=your_owner_id_here
OWNER_USERNAME=your_username_here
DATABASE_URL=your_mongodb_url_here

PASSWORD=mergebot123
LOGCHANNEL=
GOFILE_TOKEN=
USER_SESSION_STRING=
AUTH_GROUPS=

MAX_CONCURRENT_USERS=5
MAX_FILE_SIZE=2147483648
